<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/change-password.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <header>
        <h1>Welcome, <%= user.name %>
        </h1>
        <% if (user.role==='admin' ) { %>
            <p>Role: <%= user.role %>
            </p>
            <% } %>

    </header>

    <!-- Dashboard Menu -->
    <nav>
        <ul>
            <li><a href="/dashboard" class="nav-link">Trang chủ</a></li>
            <% if (user.role==='admin' ) { %>
                <li class="reports-menu">
                    <a href="#" class="nav-link">Admin</a>
                    <ul class="sub-menu">
                        <li><a href="/add-user" class="nav-link">Quảng trị người dùng</a></li>
                        <li><a href="/qr" class="nav-link">Tạo QR</a></li>
                    </ul>
                </li>
                <% } %>
                    <li class="reports-menu">
                        <a href="#" class="nav-link">Báo Cáo</a>
                        <ul class="sub-menu">
                            <li><a href="/reports/view" class="nav-link">Báo Cáo Tháng</a></li>
                            <li><a href="/reports/aggregated" class="nav-link">Báo Cáo Tổng Hợp</a></li>
                        </ul>
                    </li>
                    <li><a href="/user/change-password" class="nav-link">Đổi mật khẩu</a></li>
                    <li><a href="/logout" class="logout-btn">Đăng xuất</a></li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <h2>Thay đổi mật khẩu</h2>
            <!-- Hộp thoại chi tiết sửa đổi -->
            <dialog id="listReportDialog">
                <div id="modificationDetails" style="margin-top: 20px;">
                    <h2>Chi tiết sửa đổi:</h2>
                    <p id="modifiedBy"></p>
                    <p id="modifiedAt"></p>
                    <ul id="modificationFields"></ul>
                    <button id="closeDialog1">Đóng</button>
                </div>
            </dialog>
            <!-- Hộp thoại thông báo lỗi -->
            <dialog id="errDialog">
                <div id="modificationDetails">
                    <i class="fas fa-exclamation-triangle" style="color: red; font-size: 30px;"></i>
                    <h2>🔔 Thông Báo Lỗi:</h2>
                    <p id="error"></p>
                    <button id="closeDialog">Đóng</button>
                </div>
            </dialog>
            <dialog id="successfullyDialog">
                <div class="notification">
                    <h2>🔔 Thông Báo:</h2>
                    <p id="notificationSS">Không có lỗi nào!</p>
                    <button id="closeDialogSS">Đóng</button>
                </div>
            </dialog>

            <dialog id="confirmDialog">
                <p>Bạn có chắc chắn muốn xóa báo cáo này không?</p>
                <button id="confirmYes">Xóa</button>
                <button id="confirmNo">Không</button>
            </dialog>
            <!-- Display Error Message if Any -->
            <div id="message"></div>

            <form id="changePasswordForm" action="/user/change-password" method="POST">
                <div class="form-group">
                    <label for="currentPassword">Mật khẩu hiện tại:</label>
                    <input type="password" id="currentPassword" name="currentPassword" required>
                </div>

                <div class="form-group">
                    <label for="newPassword">Mật khẩu mới:</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Xác nhận mật khẩu mới:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>

                <button type="submit">Thay đổi mật khẩu</button>
            </form>
        </div>
    </main>
    <script src="../js/change-password.js"></script>
</body>

</html>