.error-container {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #721c24;
}